.shopping-list-container {
  width: 60%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 6px -6px $raisin-black;
  border-radius: 5px;
  padding: 2rem;
  background-color: lighten($columbia-blue, 11%);

  h4 {
    margin: 0 auto 10px;
  }

  .add-item-form {
    background-color: darken($columbia-blue, 10%);
    // background-color: lighten($gray-blue, 20%);
    color: #F9F9F9;
    padding: 0px 20px;

    input {
      border-bottom: 2px solid #F9F9F9;

      &::placeholder {
        color: #F9F9F9;
      }
    }
  }

  .shopping-list-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  form,
  .item-container,
  .item-container-completed {
    width: 90%;
    height: 60px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px auto;
    box-shadow: 0 8px 6px -6px $columbia-blue;
    border-radius: 50px;
    background-color: #F9F9F9;

    .item-text-container,
    input {
      width: 8rem;
      font-size: 1rem;
      text-align: left;
      background-color: transparent;
      font-size: 0.8rem;
    }

    input {
      font-style: italic;
      border: none;
      border-bottom: 2px solid darken($columbia-blue, 10%);
      font-family: "Montserrat", sans-serif;
      text-align: left;
      padding: 5px;
      color: #36393f;
      outline: none;
    }
  }

  .item-container-completed {
    text-decoration: line-through;
  }

  .item-buttons-container {
    font-size: 0.6rem;

    span {
      margin: 10px;

      &:hover {
        color: $columbia-blue;
        cursor: pointer;
      }
    }
  }
}
