.events-list {
  form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 30rem;
    height: 30px;
    padding: 10px;
    box-shadow: 0 8px 6px -6px $columbia-blue;
    border-radius: 50px;
    background-color: darken($columbia-blue, 10%);
    color: white;

    input {
      width: 100%;
      font-size: 1rem;
      text-align: left;
      border: none;
      font-family: "Montserrat", sans-serif;
      text-align: left;
      padding: 5px;
      outline: none;
      background-color: transparent;
    }

    input::placeholder {
      color: white;
    }
  }
}

.events-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .event-card {
    height: 15rem;
    width: 40%;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 5px 6px -6px $raisin-black;
    transition: all 0.7s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}
