footer {
  width: 100%;
  border-radius: 40% 40% 0 0;
  padding: 20px 30px 10px;
  background-image: linear-gradient(to bottom right, #0b8793, #1d2671);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h3 {
    padding-left: 3rem;
    color: white;
    font-family: "Lobster", sans-serif;
    font-size: 1.5rem;
  }

  .social {
    width: 30%;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .copyright {
    color: white;
  }
}
