@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

$raisin-black: #212227;
$columbia-blue: #c2dfe3;
$main-color: #176681;
$gradient: linear-gradient(to bottom right, #0b8793, #1d2671);
$padding-top-for-navbar: 10rem;

html,
body,
#root,
.App {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #36393f;
}

// import scss components in logical order

@import "./components/HeaderNav/HeaderNav.scss";
@import "./pages/Event/components/ShoppingList/ShoppingList.scss";
@import "./pages/EventsList/scenes/EventsList.scss";
@import "./pages/Register/RegisterForm.scss";
@import "./pages/Event/scenes/Event.scss";
@import "./pages/AddEvent/AddEvent.scss";
@import "./components/Footer.scss";
